<!DOCTYPE html>
<html>

  <head>
    <title>What Is - It Is</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="lib/xss/dist/xss.min.js"></script>
    <script src="client.js"></script>
  </head>

  <body ng-app="client" ng-controller="ClientController">
    <div class="container">
      <div class="row">

        <!-- TITLE -->
        <div class="col-xs-12">
          <h1 class="text-center title">What Is - It Is</h1>
        </div>

        <div class="col-xs-12">
          <form novalidate class="interface">
            <div>What is... </div>
            <input ng-model="question" ng-minlength='1' ng-required='true' placeholder="Type a question...">

            <div>It is... </div>
            <input ng-model="answer" ng-minlength='1' ng-required='true' placeholder="Type an answer...">

            <div>
              <button ng-click="submit(question, answer)">Submit</button>
              <button ng-click="results()">Answers</button>
              <button ng-click="reset()">New Game</button>
            </div>
          </form>
        </div>

        <div ng-show="end">
          <h4>Results:</h4>
          <div ng-repeat="q in questions track by $index">What is {{ q }} <br>It is {{ answers[$index] }}</div>
        </div>

      </div>
    </div>

  </body>
</html>
